@model IEnumerable<MyClass.Models.Category>

@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@Html.Action("Slideshow", "Module")
<!-- banner -->
<!-- content -->

<section class="content3">
    <!-- product-nav -->

    <div class="product-easy">
        <div class="container">
            <script src="~/Public/js/easyResponsiveTabs.js"></script>
            <script src="~/Public/js/easyResponsiveTabs.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });

            </script>
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    @foreach (var category in Model)
                    {
                        @Html.Action("HomeProduct", "Site", new { @id = category.Id })


                    }
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:40px">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <a href="~/tat-ca-san-pham" style="color:#069191;font-size:20px">
                        XEM TOÀN BỘ SẢN PHẨM
                        <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //product-nav -->

</section>

