
@{
    ViewBag.Title = "Đăng Ký Thành Công";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="container" style="margin:20px">
    <h1 style="margin:20px"><i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>Tài Khoản Đã Được Đăng Kí Thành Công<i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i></h1>
    <a href="~/dang-nhap" style="color:#069191;font-size:20px;margin:60px">
        Vui Lòng Đăng Nhập Tài Khoản Để Tiếp Tục Mua Hàng
        <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
    </a>
</div>

